{% extends "layout.html" %}

{% block style %}

{% endblock %}

{% block navbar %}
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/leaderboard">Leaderboard</a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="/challenges">Challenges</a>
    </li>
      <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/about">About</a>
    </li>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <br>
        <h2>About the App</h2>
    </div>


    </body>

{% endblock %}