{% extends "layout.html" %}

{% block style %}

{% endblock %}

{% block navbar %}
    <li><a href="/">Overview<span class="sr-only">(aktuell)</span></a></li>
    <li class="active"><a href="/leaderboard">Leaderboard</a></li>
    <li><a href="/challenges">Challenges</a></li>
    <li><a href="/about">About</a></li>
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
        <div class="col-md-8" id="div1">
            <br><br><br>
            <h2>Leaderboard League 3 (Arnold Schwarzenegger League)</h2>
        </div>
        <div class="col-md-4" id="div2">
            <br><br><br>
            <h2>Information about Prizes</h2>
        </div>
        </div>
    </div>

    </body>

{% endblock %}