{% extends "layout.html" %}

{% block style %}
img{
    width: 48px;
    margin: 6px;
}

#current_league{
    width: 72px;
}

.league_table{
    margin: auto;
}

{% endblock %}

{% block navbar %}
    <li><a href="/">Overview<span class="sr-only">(aktuell)</span></a></li>
    <li class="active"><a href="/leaderboard">Leaderboard</a></li>
    <li><a href="/challenges">Challenges</a></li>
    <li><a href="/about">About</a></li>
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
        <div class="col-md-8" id="div1">
            <div class="container">
                <div align="center">
                    <table class="league_table">
                        <td><img src="/static/League5.png"></td>
                        <td><img src="/static/League4.png"></td>
                        <td><img src="/static/League3.png" id="current_league"></td>
                        <td><img src="/static/League2.png"></td>
                        <td><img src="/static/League1.png"></td>
                    </table>
                    <h2>3rd League</h2>
                </div>


                <table class="table">
                    {% for header in leaderboard_header %}
                    <th>{{ header }}</th>
                    {% endfor %}

                    {% for row in leaderboard_data %}
                    <tr>
                        {% for cell in row %}
                        <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <br><br><br>
            <h2>Leaderboard League 3 (Arnold Schwarzenegger League)</h2>
        </div>
        <div class="col-md-4" id="div2">
            <br><br><br>
            <h2>Information about Prizes</h2>
        </div>
        </div>
    </div>

    </body>

{% endblock %}